<%- include('portals/header') %>
<%- include('portals/menu') %>



<section>
  <div class="col-12 p-4 px-lg-5 px-1">
    <h1 class="text-bolder typewriter fs-lg-1 fs-3 extra-font-size text-light"><%= sityinfoo[0].heroheader %></h1>
    <div class="d-lg-flex d-block col-12 justify-content-center ">
      <div>
        <div class="col-12 d-lg-flex d-block justify-content-center ">
          <div class="col-lg-6 col-12 p-2">
            <p class="text-info"><%= sityinfoo[0].herodes %></p>
            <h2 class="text-light hero-second-frontsize fs-lg-2 fs-5 pt-5 col-lg-6 col-12"><%= sityinfoo[0].herondheader %></h2>
          </div>
          <div class="col-lg-6 col-12 ps-lg-5 ps-0">
            <div>
              <div class="border col-8 photoone p-2">
                <img class="w-100 imagehight" src="assets/images/allimg/<%= sityinfoo[0].heroone %>" alt="">
              </div>
              <div class="border col-8 phototwo p-2">
                <img class="w-100 imagehight" src="assets/images/allimg/<%= sityinfoo[0].herotwo %>" alt="">
              </div>
            </div>
          </div>
        </div> 
      </div>
      <div class="col-lg-4 col-12 pt-5 text-center p-4">
        <div class="border col-8 ms-5 photothree p-2">
          <img class="w-100 imagehight" src="assets/images/allimg/<%= sityinfoo[0].herothree %>" alt="">
        </div>
        <div class="icone-style-border custom-style m-5 ms-0 w-25 p-1">
          <div class="btn-animation bg-danger icone-style">
            <a href="/">
              <img class="w-100" src="\assets\icon\bootstrap-icons-1.9.1\play-fill.svg" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="">
  <h1 class="text-bolder text-center text-success">CHOOSE YOUR PLAN</h1>
  <div class="d-lg-flex d-block justify-content-center">
    <div class="col-lg-2 col-8 m-auto m-4 shadow text-center p-3">
      <h3 class="text-light"><%= plans[0].planeonetittle %></h3>
      <h6 class="text-light"><%= plans[0].planeoneprice %></h6>
      <h2 class="text-info"><%= plans[0].planeonedes %></h2>
    </div>
    <div class="col-lg-2 col-8 m-auto m-4 shadow text-center p-3">
      <h3 class="text-light"><%= plans[1].planeonetittle %></h3>
      <h6 class="text-light"><%= plans[1].planeoneprice %></h6>
      <h2 class="text-info"><%= plans[1].planeonedes %></h2>
    </div>
    <div class="col-lg-2 col-8 m-auto m-4 shadow text-center p-3">
      <h3 class="text-light"><%= plans[2].planeonetittle %></h3>
      <h6 class="text-light"><%= plans[2].planeoneprice %></h6>
      <h2 class="text-info"><%= plans[2].planeonedes %></h2>
    </div>
  </div>
</section>


 
<section class="py-5 my-5 bg-dark">
  <div class="d-lg-flex d-block p-lg-4 p-2 justify-content-center">
    <div class="col-lg-6 col-12 text-center p-5">
      <h2 class="text-center px-4  text-light">About us</h2>
      <p class="text-center  px-4 text-info"><%= sityinfoo[0].aboutsite %></p>
    </div>
    <div class="col-lg-6 col-12">
      <div class="d-flex pt-2 mt-4 justify-content-center">
        <img class="commonimage col-4 aboutimg-one" src="assets\images\slider_images\sliderone.jpg" alt="">
        <img class="commonimage col-5 aboutimg-two" src="assets\images\slider_images\sliderone.jpg" alt="">
        <img class="commonimage col-4 aboutimg-three" src="assets\images\slider_images\sliderone.jpg" alt="">
      </div>
    </div>
  </div>
</section>




<section class="py-5 my-5">
  <h1 class="text-bolder text-center text-light">SERVICES</h1>
  <div class="w-75 text-center m-auto">
    <ul class="nav w-100 m-auto text-center">
      <li class="nav-list"><a class="nav-link text-light href="">All</a></li>
      <li class="nav-list"><a class="nav-link text-light href="">Marrige</a></li>
      <li class="nav-list"><a class="nav-link text-light href="">Event</a></li>
      <li class="nav-list"><a class="nav-link text-light href="">Social media</a></li>
    </ul>
  </div>
  <div class="d-flex justify-content-center">
    <div>
      <img class="d-block m-2" src="assets\images\slider_images\sliderone.jpg" alt="">
      <img class="d-block m-2" src="assets\images\slider_images\sliderone.jpg" alt="">
    </div>
      <img class="d-block m-2" src="assets\images\slider_images\sliderone.jpg" alt="">
    <div>
      <img class="d-block m-2" src="assets\images\slider_images\sliderone.jpg" alt="">
      <img class="d-block m-2" src="assets\images\slider_images\sliderone.jpg" alt="">
    </div>
  </div>
  <a class="bg-danger text-light btn-animation text-decoration-none text-center1 py-1 px-2 shadow rounded text-center w-25 m-auto d-block text-bolder d-inline-block" href="/">View all</a>
</section>





<section class="py-5">
  <div class="d-lg-flex justify-content-center">
    <h1 class="text-light text-center col-lg-6 col-12">My Best Captured</h1>
    <p class="text-info px-4 col-lg-6 col-12"><%= sityinfoo[0].portfoliodes %></p>
  </div>
  <div class="text-center">
    <img class="d-inline-block m-1 col-3" src="assets\images\slider_images\sliderone.jpg" alt="">
    <img class="d-inline-block m-1 col-3" src="assets\images\slider_images\sliderone.jpg" alt="">
    <img class="d-inline-block m-1 col-3" src="assets\images\slider_images\sliderone.jpg" alt="">
    <img class="d-inline-block m-1 col-3" src="assets\images\slider_images\sliderone.jpg" alt="">
    <img class="d-inline-block m-1 col-3" src="assets\images\slider_images\sliderone.jpg" alt="">
    <img class="d-inline-block m-1 col-3" src="assets\images\slider_images\sliderone.jpg" alt="">
  </div>
</section>






<section class="py-5 my-5">
  <div>
    <h1 class="text-bolder pb-5 text-center text-light">Testimonials</h1>
    <div class="text-center my-5">
      <div class="col-lg-3 col-8 m-4 my-4 d-inline-block animationboxx text-center p-2 border rounded shadow">
        <div>
            <img class="test-image-pp m-auto d-block" src="assets\images\slider_images\sliderone.jpg" alt="">
        </div>
        <h3 class="text-bolder text-center text-light">MD Rafik Mia</h3>
        <div class="text-center text-info">Reating hewre</div>
        <p class="text-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque eius, minima amet unde incidunt sunt ullam. Eos ad aliquid animi, praesentium modi magni accusamus? Repellendus quasi voluptates totam fugiat placeat?</p>
      </div>
      <div class="col-lg-3 col-8 m-4 my-4 d-inline-block animationboxx text-center p-2 border rounded shadow">
        <div>
            <img class="test-image-pp m-auto d-block" src="assets\images\slider_images\sliderone.jpg" alt="">
        </div>
        <h3 class="text-bolder text-center text-light">MD Rafik Mia</h3>
        <div class="text-center text-info">Reating hewre</div>
        <p class="text-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque eius, minima amet unde incidunt sunt ullam. Eos ad aliquid animi, praesentium modi magni accusamus? Repellendus quasi voluptates totam fugiat placeat?</p>
      </div>
      <div class="col-lg-3 col-8 m-4 my-4 d-inline-block animationboxx text-center p-2 border rounded shadow">
        <div>
            <img class="test-image-pp m-auto d-block" src="assets\images\slider_images\sliderone.jpg" alt="">
        </div>
        <h3 class="text-bolder text-center text-light">MD Rafik Mia</h3>
        <div class="text-center text-info">Reating hewre</div>
        <p class="text-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque eius, minima amet unde incidunt sunt ullam. Eos ad aliquid animi, praesentium modi magni accusamus? Repellendus quasi voluptates totam fugiat placeat?</p>
      </div>
    </div>
  </div>
</section>




<section class="bg-dark">
  <div class="d-lg-flex justify-content-center">
    <div class="col-lg-6 col-12 p-lg-5 p-2">
      <h3 class="text-info px-lg-4 px-0 text-success ms-lg-5 ms-1">Contract us</h3>
      <h2 class="text-info px-lg-4 px-0 ms-lg-5 ms-1">Lorem ipsum dolor sit, maiores suscipit numquam totam. us</h2>
    </div>
    <div class="col-lg-6 col-12 p-5">
      <form action="/sendmessage" method="post">
        <input class="d-block w-100 my-3 shadow rounded px-lg-4 px-2 py-lg-2 py-1" required type="text" name="sendmsgname" id="sendmsgname" placeholder="Name....">
        <input class="d-block w-100 my-3 shadow rounded px-lg-4 px-2 py-lg-2 py-1" required type="text" name="sendmsgphone" id="sendmsgphone" placeholder="Phone number....">
        <textarea class="d-block w-75 my-3 shadow rounded px-lg-4 px-2 py-lg-2 py-1" required name="sendmsgtext" id="sendmsgtext" max-cols="30" max-rows="10" placeholder="Message...."></textarea>
        <div class="text-center">
          <input class="px-4 py-2 d-inline-block btn-animation text-bolder text-center text-light bg-danger rounded shadow" type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>
</section>



<section class="py-5">
  <div>
    <h1 class="text-center text-bolder text-light p-4">Take Your Beautifull Photos With Me</h1>
    <p class="text-center text-info col-8 m-auto"><%= sityinfoo[0].createnewprojectdes %></p>
    <a class="text-center btn-animation text-decoration-none d-block col-4 m-auto my-3 text-seccess" href="/">Start New Project</a>
  </div>
</section>





<!-- <section>
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/images/slider_images/slidertwo.jpg" class="d-block w-100" alt="...">
            <div style="text-align: left;" class="carousel-caption padding_bottom d-none d-md-block">
              <h1 class="">First slide label</h1>
              <p class="py-2">Some representative placeholder content for the first slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/images/slider_images/sliderone.jpg" class="d-block w-100" alt="...">
            <div style="text-align: left;" class="carousel-caption padding_bottom d-none d-md-block">
              <h1>Second slide label</h1>
              <p class="py-2">Some representative placeholder content for the second slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/images/slider_images/slidertwo.jpg" class="d-block w-100" alt="...">
            <div style="text-align: left;" class="carousel-caption padding_bottom d-none d-md-block">
              <h1>Third slide label</h1>
              <p class="py-2">Some representative placeholder content for the third slide.</p>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</section>

<section class="py-5 text-center">
  <div>
    <div>
      <div class="col-lg-3 my-3 mx-4 d-inline-block bg-light p-4 shadow rounded">
        <img class="woficon" src="\assets\icon\bootstrap-icons-1.9.1\Contact1.png" alt="">
        <h3>Contract me now</h3>
        <a class="hover-btn fs-5 text-center text-decoration-none px-4 py-3 rounded shadow d-block" href="/">Contract</a>
      </div>
      <div class="col-lg-3 my-3 mx-4 d-inline-block bg-light p-4 shadow rounded">
        <img class="woficon" src="\assets\icon\bootstrap-icons-1.9.1\photo.png" alt="">
        <h3>Visit my Photos</h3>
        <a class="hover-btn fs-5 text-center text-decoration-none px-4 py-3 rounded shadow d-block" href="/">Photos</a>
      </div>
      <div class="col-lg-3 my-3 mx-4 d-inline-block bg-light p-4 shadow rounded">
        <img class="woficon" src="\assets\icon\bootstrap-icons-1.9.1\aBOUT.png" alt="">
        <h3>Read about us</h3>
        <a class="hover-btn fs-5 text-center text-decoration-none px-4 py-3 rounded shadow d-block" href="/">About</a>
      </div>
      <div class="col-lg-3 my-3 mx-4 d-inline-block bg-light p-4 shadow rounded">
        <img class="woficon" src="\assets\icon\bootstrap-icons-1.9.1\Package 1.png" alt="">
        <h3>See my Package</h3>
        <a class="hover-btn fs-5 text-center text-decoration-none px-4 py-3 rounded shadow d-block" href="/">Package</a>
      </div>
      <div class="col-lg-3 my-3 mx-4 d-inline-block bg-light p-4 shadow rounded">
        <img class="woficon" src="\assets\icon\bootstrap-icons-1.9.1\video.png" alt="">
        <h3>Watch my videos</h3>
        <a class="hover-btn fs-5 text-center text-decoration-none px-4 py-3 rounded shadow d-block" href="/">Videos</a>
      </div>
      <div class="col-lg-3 my-3 mx-4 d-inline-block bg-light p-4 shadow rounded">
        <img class="woficon" src="\assets\icon\bootstrap-icons-1.9.1\Adress1.png" alt="">
        <h3>My shop address</h3>
        <a class="hover-btn fs-5 text-center text-decoration-none px-4 py-3 rounded shadow d-block" href="/">Shop address</a>
      </div>
  </div>
  </div>
</section> -->